body {
    background: #808080;
}

.dynamic-content-wrapper {
    display: none;
}

.cors-bg,.no-cors-bg{
    width:256px;
    height: 256px;
    float: left;
    margin: 0 5px;
}
.cors-bg {
    background: url(cors.png)
}
.no-cors-bg {
    background: url(no-cors.png)
}

.clearer {
    clear: both;
}